:root {
  /* Light */
  --light-background: #e8f3f9;
  --light-on-background: #171a1b;
  --light-surface: #def2fa;
  --light-on-surface: #171a1b;
  --light-surface-variant: #c3d8e0;
  --light-on-surface-variant: #3f4649;
  --light-surface-container-high: #d4e2e8;
  --light-surface-container-highest: #b2c6cf;
  --light-surface-container: #c6d6dd;
  --light-outline: #6f7579;
  --light-outline-variant: #9cb0b6;
  --light-primary: #2c4f87;
  --light-on-primary: #ffffff;
  --light-primary-container: #85b6ff;
  --light-on-primary-container: #132b50;
  --light-secondary: #b36a0a;
  --light-on-secondary: #ffffff;
  --light-secondary-container: #f9bc6c;
  --light-on-secondary-container: #583603;
  --light-tertiary: #821c78;
  --light-on-tertiary: #ffffff;
  --light-tertiary-container: #9e95b2;
  --light-on-tertiary-container: #45063d;
  --light-error: #cd2f2f;
  --light-on-error: #ffffff;
  --light-error-container: #ffdad6;
  --light-on-error-container: #410002;
  --light-inverse-surface: #2d3031;
  --light-inverse-on-surface: #eff0f1;
  --light-inverse-primary: #4eb2da;

  /* Dark */
  --dark-background: #141a21;
  --dark-on-background: #e3e9eb;
  --dark-surface: #0d1114;
  --dark-on-surface: #e3e9eb;
  --dark-surface-variant: #284858;
  --dark-on-surface-variant: #bac3c5;
  --dark-surface-container-high: #0c1928;
  --dark-surface-container-highest: #1f3d4e;
  --dark-surface-container: #1a232a;
  --dark-outline: #6f7579;
  --dark-outline-variant: #7e939a;
  --dark-primary: #8aafeb;
  --dark-on-primary: #092a5b;
  --dark-primary-container: hsl(216, 77%, 36%);
  --dark-on-primary-container: #bcd7f2;
  --dark-secondary: hsl(34, 91%, 55%);
  --dark-on-secondary: #58370b;
  --dark-secondary-container: hsl(34, 93%, 35%);
  --dark-on-secondary-container: #f8e1bf;
  --dark-tertiary: #c486d5;
  --dark-on-tertiary: #552ba5;
  --dark-tertiary-container: hsl(272, 20%, 45%);
  --dark-on-tertiary-container: #f3d4ee;
  --dark-error: #ebaba4;
  --dark-on-error: #60070b;
  --dark-error-container: #8f0811;
  --dark-on-error-container: #fcd4d0;
  --dark-inverse-surface: #e0e2e3;
  --dark-inverse-on-surface: #191b1c;
  --dark-inverse-primary: #00436a;

  /* OVERLAY */
  --scrim: #000000;

  /* font family */
  --ff-primary: 'Work Sans', sans-serif;

  /* font size */
  --fs-base: 62.5%;
  --fs-display-large: 5.7rem;
  --fs-display-medium: 4.5rem;
  --fs-display-small: 3.6rem;
  --fs-headline-large: 3.2rem;
  --fs-headline-medium: 2.8rem;
  --fs-headline-small: 2.4rem;
  --fs-title-large: 2.2rem;
  --fs-title-medium: 1.6rem;
  --fs-title-small: 1.4rem;
  --fs-label-large: 1.4rem;
  --fs-label-medium: 1.2rem;
  --fs-label-small: 1.1rem;
  --fs-body-large: 1.6rem;
  --fs-body-medium: 1.4rem;
  --fs-body-small: 1.2rem;

  /* font weight */
  --weight-regular: 400;
  --weight-medium: 500;

  /* BORDER RADIUS */
  --radius-extra-small: 0.4rem;
  --radius-small: 0.8rem;
  --radius-medium: 1.2rem;
  --radius-large: 1.6rem;
  --radius-large-end: 0 1.6rem 1.6rem 0;
  --radius-extra-large: 2.8rem;
  --radius-circle: 50%;
  --radius-full: 50rem;

  /* ELEVATION */
  --elevation-1: 0 1px 2px hsla(0, 0%, 0%, 0.3),
    0 1px 3px 1px hsla(0, 0%, 0%, 0.15);
  --elevation-2: 0 1px 2px hsla(0, 0%, 0%, 0.3),
    0 2px 6px 2px hsla(0, 0%, 0%, 0.15);

  /* OTHERS */
  --header-height: 6.4rem;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    /**
     * TRANSITION
     */

    /* duration */

    --motion-duration-short-1: 100ms;
    --motion-duration-short-2: 200ms;
    --motion-duration-medium-1: 250ms;
    --motion-duration-medium-2: 400ms;
    --motion-duration-long: 500ms;

    /* easing */

    --motion-easing-linear: cubic-bezier(0, 0, 1, 1);
    --motion-easing-standard: cubic-bezier(0.2, 0, 0, 1);
    --motion-easing-emphasized: cubic-bezier(0.2, 0, 0, 1);
    --motion-easing-emphasized-decelerate: cubic-bezier(0.05, 0.7, 0.1, 1);
    --motion-easing-emphasized-accelerate: cubic-bezier(0.3, 0, 0.8, 0.15);
    --motion-easing-legacy: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

[data-theme='light'] {
  color-scheme: light;

  --background: var(--light-background);
  --on-background: var(--light-on-background);
  --surface: var(--light-surface);
  --on-surface: var(--light-on-surface);
  --surface-variant: var(--light-surface-variant);
  --on-surface-variant: var(--light-on-surface-variant);
  --surface-container-high: var(--light-surface-container-high);
  --surface-container-highest: var(--light-surface-container-highest);
  --surface-container: var(--light-surface-container);
  --outline: var(--light-outline);
  --outline-variant: var(--light-outline-variant);
  --primary: var(--light-primary);
  --on-primary: var(--light-on-primary);
  --primary-container: var(--light-primary-container);
  --on-primary-container: var(--light-on-primary-container);
  --secondary: var(--light-secondary);
  --on-secondary: var(--light-on-secondary);
  --secondary-container: var(--light-secondary-container);
  --on-secondary-container: var(--light-on-secondary-container);
  --tertiary: var(--light-tertiary);
  --on-tertiary: var(--light-on-tertiary);
  --tertiary-container: var(--light-tertiary-container);
  --on-tertiary-container: var(--light-on-tertiary-container);
  --error: var(--light-error);
  --on-error: var(--light-on-error);
  --error-container: var(--light-error-container);
  --on-error-container: var(--light-on-error-container);
  --inverse-surface: var(--light-inverse-surface);
  --inverse-on-surface: var(--light-inverse-on-surface);
  --inverse-primary: var(--light-inverse-primary);
}

[data-theme='dark'] {
  color-scheme: dark;

  --background: var(--dark-background);
  --on-background: var(--dark-on-background);
  --surface: var(--dark-surface);
  --on-surface: var(--dark-on-surface);
  --surface-variant: var(--dark-surface-variant);
  --on-surface-variant: var(--dark-on-surface-variant);
  --surface-container-high: var(--dark-surface-container-high);
  --surface-container-highest: var(--dark-surface-container-highest);
  --surface-container: var(--dark-surface-container);
  --outline: var(--dark-outline);
  --outline-variant: var(--dark-outline-variant);
  --primary: var(--dark-primary);
  --on-primary: var(--dark-on-primary);
  --primary-container: var(--dark-primary-container);
  --on-primary-container: var(--dark-on-primary-container);
  --secondary: var(--dark-secondary);
  --on-secondary: var(--dark-on-secondary);
  --secondary-container: var(--dark-secondary-container);
  --on-secondary-container: var(--dark-on-secondary-container);
  --tertiary: var(--dark-tertiary);
  --on-tertiary: var(--dark-on-tertiary);
  --tertiary-container: var(--dark-tertiary-container);
  --on-tertiary-container: var(--dark-on-tertiary-container);
  --error: var(--dark-error);
  --on-error: var(--dark-on-error);
  --error-container: var(--dark-error-container);
  --on-error-container: var(--dark-on-error-container);
  --inverse-surface: var(--dark-inverse-surface);
  --inverse-on-surface: var(--dark-inverse-on-surface);
  --inverse-primary: var(--dark-inverse-primary);
}

/* RESET */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: var(--fs-base);
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

body {
  box-sizing: border-box;
  font-family: var(--ff-primary);
  background-color: var(--background);
  color: var(--on-background);
  font-size: var(--fs-body-large);
  line-height: 1.8;
  min-height: 100vh;
  height: 300vh;
  transition: opacity var(--motion-duration-medium-2)
    var(--motion-easing-linear);
  opacity: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

img {
  height: 100%;
}

li {
  list-style: none;
}

a,
img,
span,
input,
video,
button {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
  outline: none;
}

button:disabled {
  cursor: default;
  opacity: 0.5;
}

/* TYPOGRAPHY */

.display-large {
  font-size: var(--fs-display-large);
  font-weight: var(--weight-regular);
  line-height: 6.4rem;
}

.display-medium {
  font-size: var(--fs-display-medium);
  font-weight: var(--weight-regular);
  line-height: 5.2rem;
}

.display-small {
  font-size: var(--fs-display-small);
  font-weight: var(--weight-regular);
  line-height: 4.4rem;
}

.headline-large {
  font-size: var(--fs-headline-large);
  font-weight: var(--weight-regular);
  line-height: 4rem;
}

.headline-medium {
  font-size: var(--fs-headline-medium);
  font-weight: var(--weight-regular);
  line-height: 3.6rem;
}

.headline-small {
  font-size: var(--fs-headline-small);
  font-weight: var(--weight-regular);
  line-height: 3.2rem;
}

.title-large {
  font-size: var(--fs-title-large);
  font-weight: var(--weight-regular);
  line-height: 2.8rem;
}

.title-medium {
  font-size: var(--fs-title-medium);
  font-weight: var(--weight-medium);
  line-height: 2.4rem;
}

.title-small {
  font-size: var(--fs-title-small);
  font-weight: var(--weight-medium);
  line-height: 2rem;
  letter-spacing: 0.1px;
}

.label-large {
  font-size: var(--fs-label-large);
  font-weight: var(--weight-medium);
  line-height: 2rem;
  letter-spacing: 0.1px;
}

.label-medium {
  font-size: var(--fs-label-medium);
  font-weight: var(--weight-medium);
  line-height: 1.6rem;
  letter-spacing: 0.5px;
}

.label-small {
  font-size: var(--fs-label-small);
  font-weight: var(--weight-medium);
  line-height: 1.6rem;
  letter-spacing: 0.5px;
}

.body-large {
  font-size: var(--fs-body-large);
  font-weight: var(--weight-regular);
  line-height: 2.4rem;
  letter-spacing: 0.5px;
}

.body-medium {
  font-size: var(--fs-body-medium);
  font-weight: var(--weight-regular);
  line-height: 2rem;
  letter-spacing: 0.25px;
}

.body-small {
  font-size: var(--fs-body-small);
  font-weight: var(--weight-regular);
  line-height: 1.6rem;
  letter-spacing: 0.4px;
}

/* REUSED */

.ph-bold {
  font-size: 2.2rem;
}

.ph-fill {
  font-size: 2.2rem;
}

.ph {
  font-size: 1.8rem;
}

:has(> .state-layer) {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.state-layer,
.ripple {
  position: absolute;
  pointer-events: none;
  z-index: 1;
  background-color: var(--state-layer-bg);
}

.state-layer {
  border-radius: inherit;
  inset: 0;
  opacity: 0;
  transition: var(--motion-duration-short-2) var(--motion-easing-linear);
}

:has(> .state-layer):hover > .state-layer {
  opacity: 0.08;
}

:has(> .state-layer):is(:focus, :focus-visible, :active) > .state-layer {
  opacity: 0.12;
}

.ripple {
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border-radius: var(--radius-circle);
  opacity: 0.12;
  animation: ripple 800ms var(--motion-easing-standard);
}

@keyframes ripple {
  0% {
    scale: 0;
  }
  100% {
    scale: 2.5;
  }
}

.divider {
  height: 1px;
  max-width: 100%;
  background-color: var(--outline-variant);
}

.section {
  position: relative;
  margin-block-end: 2.4rem;
}

.container {
  padding-inline: 1.6rem;
}

.section-title {
  margin-block-end: 1.2rem;
}

.media-grid {
  --column-count: 2;
  --column-gap: 0.8rem;
  display: grid;
  grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
  gap: var(--column-gap);
  overflow: hidden;
}

.column {
  display: flex;
  flex-direction: column;
  gap: var(--column-gap);
  align-self: flex-start;
}

.featured-photos .column,
.popular-video .column {
  margin-bottom: -80rem;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-btn {
  position: absolute;
  width: 100%;
  bottom: -2px;
  left: 0;
  padding-block: 4.8rem 2.4rem;
  display: grid;
  place-items: center;
  background-image: linear-gradient(
    180deg,
    transparent 0%,
    var(--background) 100%
  );
  z-index: 1;
}

.skeleton {
  background-color: var(--surface-container-highest);
  border-radius: var(--radius-medium);
  aspect-ratio: 2/3;
  animation: skeleton-loading 1000ms linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.card-badge {
  position: absolute;
  top: 1.6rem;
  left: 1.6rem;
  width: 2.4rem;
  height: 2.4rem;
  display: grid;
  place-items: center;
  background-color: var(--light-secondary-container);
  color: var(--light-on-secondary-container);
  border-radius: var(--radius-small);
}

.card-badge .ph-play {
  font-size: 1.8rem;
  margin-right: 2px;
}

.page-title {
  margin-block-end: 1.6rem;
  text-transform: capitalize;
}

.menu-wrapper {
  position: relative;
  max-width: max-content;
}

.menu-wrapper:has(.expanded) {
  z-index: 2;
}

.menu-wrapper .menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}

.load-more {
  width: 4rem;
  height: 4rem;
  border: 0.4rem solid var(--primary);
  border-radius: var(--radius-full);
  border-right-color: transparent;
  margin: 2rem auto;
  animation: loading 500ms linear infinite;
}

@keyframes loading {
  0% {
    rotate: 0;
  }
  100% {
    rotate: 360deg;
  }
}

/* ICON BUTTON */

.icon-btn {
  width: 4.6rem;
  height: 4.6rem;
  display: grid;
  place-items: center;
  color: var(--on-surface-variant);
  --state-layer-bg: var(--on-surface-variant);
  border-radius: var(--radius-circle);
}

.icon-btn > .state-layer {
  inset: 5px;
}

.icon-btn > .ripple {
  width: 3.6rem;
  height: 3.6rem;
  animation: icon-button-ripple 200ms var(--motion-easing-standard);
}

@keyframes icon-button-ripple {
  0% {
    scale: 0;
  }
  100% {
    scale: 1;
  }
}

.icon-btn.small {
  min-width: 40px;
  width: 40px;
  height: 40px;
}

.icon-btn.small > .ripple {
  width: 3rem;
  height: 3rem;
}

.icon-btn.small .ph {
  font-size: 1.8rem;
}

.icon-btn.active {
  color: var(--primary);
  --state-layer-bg: var(--primary);
}

/* HEADER */

.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding-inline: 0.4rem;
  background-color: var(--surface);
  width: 100%;
  height: var(--header-height);
  transition: background-color var(--motion-duration-short-2)
    var(--motion-easing-linear);
  z-index: 4;
}

.header.active {
  background-color: var(--surface-container);
}

.logo {
  margin-inline: 0.4rem auto;
  color: var(--primary);
  margin-bottom: 1px;
  font-size: 2.5rem;
  line-height: 2.8rem;
  letter-spacing: -0.5px;
}

[data-theme='dark'] .theme-btn .dark-icon,
[data-theme='light'] .theme-btn .light-icon {
  display: none;
}

.search-view-content .divider {
  margin-inline: 16px;
}

/* SEARCH VIEW */

.search-view {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100svh;
  background-color: var(--surface-container-high);
  z-index: 5;
  transition: all var(--motion-duration-short-2) var(--motion-easing-standard);
  opacity: 0;
  visibility: hidden;
}

.search-view.active {
  opacity: 1;
  visibility: visible;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7rem;
  padding-inline: 1rem;
  border-bottom: 1px solid var(--outline);
}

.input-field {
  color: var(--on-surface);
  padding-inline: 0.4rem;
}

.input-field::-webkit-search-cancel-button {
  display: none;
}

.input-field::placeholder {
  color: var(--on-surface-variant);
}

.input-wrapper,
.input-field {
  height: 100%;
}

.input-wrapper {
  flex-grow: 1;
}

.search-bar .icon-btn {
  flex-shrink: 0;
}

.input-wrapper:has(:placeholder-shown) + .icon-btn {
  display: none;
}

.search-bar .search-btn {
  --state-layer-bg: var(--primary);
  color: var(--primary);
}

.search-view-content .btn-group {
  margin: 1.6rem;
}

/* OPTION BTN */

.btn-group {
  display: flex;
  border: 1px solid var(--outline);
  border-radius: var(--radius-full);
  overflow: hidden;
  --state-layer-bg: var(--on-surface);
}

.btn-option {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  flex-grow: 1;
  height: 4rem;
  padding-inline: 1.2rem;
}

.btn-option:last-of-type {
  gap: 1rem;
}

.btn-option:not(:last-of-type) {
  border-inline-end: 1px solid var(--outline);
}

.btn-option.selected {
  background-color: var(--tertiary-container);
  color: var(--on-tertiary-container);
  --state-layer-bg: var(--on-tertiary-container);
}

/* SEARCH LIST */

.list {
  padding-block: 0.8rem;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding-inline: 1.6rem 2.4rem;
  padding-block: 0.8rem;
  height: 4.8rem;
  width: 100%;
  --state-layer-bg: var(--on-surface);
}

.list-item .text {
  color: var(--on-surface);
}

.list-item .leading-icon {
  color: var(--on-surface);
}

.list-item.two-line {
  justify-content: space-between;
  padding-inline-end: 1.2rem;
  height: 7.2rem;
}

.list-item.two-line .body-large {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.list-item.two-line > .state-layer {
  pointer-events: all;
}

/* NAVIGATION */

.navigation {
  --navigation-drawer-width: 32rem;
  background-color: var(--surface);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  max-width: var(--navigation-drawer-width);
  width: 0;
  z-index: 8;
  visibility: hidden;
  transition: var(--motion-duration-medium-1)
    var(--motion-easing-emphasized-accelerate);
  transition-property: width, visbility;
  border-radius: var(--radius-large-end);
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  overflow-y: auto;
  overscroll-behavior-y: contain;
}

.navigation.show {
  width: var(--navigation-drawer-width);
  visibility: visible;
  transition: var(--motion-duration-long)
    var(--motion-easing-emphasized-decelerate);
}

.navigation-header {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding-block: 0.8rem 1.2rem;
}

.navigation-header,
.navigation-list {
  padding-inline: 1.2rem;
  opacity: 0;
  transition: var(--motion-duration-medium-1) var(--motion-easing-emphasized);
}

.navigation.show .navigation-header,
.navigation.show .navigation-list {
  opacity: 1;
  transition: var(--motion-duration-long)
    var(--motion-easing-emphasized-decelerate);
}

.navigation.show .navigation-header {
  transition: var(--motion-duration-short-2)
    var(--motion-easing-emphasized-accelerate);
}

.navigation-link {
  --state-layer-bg: var(--on-surface);
  display: flex;
  align-items: center;
  gap: 1.2rem;
  width: 100%;
  height: 5.6rem;
  padding-inline: 1.6rem 2.4rem;
  border-radius: var(--radius-full);
}

.navigation-link.active {
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
  --state-layer-bg: var(--on-secondary-container);
}

.navigation.show .legal {
  padding: 1.6rem 1.6rem 1.6rem 2.4rem;
}

.color-primary {
  color: var(--primary);
}

/* OVERLAY */

.overlay {
  position: fixed;
  inset: 0;
  background-color: var(--scrim);
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: var(--motion-duration-short-2) var(--motion-easing-linear);
  transition-property: visibility, opacity;
}

.overlay.active {
  visibility: visible;
  opacity: 0.6;
}

/* MAIN */

.main {
  padding-top: calc(var(--header-height) + 1.8rem);
  flex-grow: 1;
}

/* BANNER SECTION */

.banner {
  position: relative;
  overflow: hidden;
  padding-block-end: 4rem;
}

.scroll-container {
  display: flex;
  gap: 1.6rem;
  padding-inline: 1.6rem;
  padding-block-end: 2rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Hide in Webkit (Chrome, Safari) */
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 0 0.4rem;
  border-radius: 50%;
  background-color: var(--on-surface);
  cursor: pointer;
}

.dot.active {
  background-color: var(--outline-variant);
}

.banner-card {
  --gradient-direction: 180deg;
  --primary-hsl: 216, 100%, 76%;
  --secondary-hsl: 34, 92%, 70%;
  --tertiary-hsl: 260, 16%, 64%;
  position: relative;
  height: 36rem;
  min-width: 100%;
  border-radius: var(--radius-extra-large);
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  z-index: 1;
  scroll-snap-align: start;
  scroll-margin-inline: 1.6rem;
  z-index: 1;
}

[data-theme='dark'] .banner-card {
  --primary-hsl: 216, 77%, 36%;
  --secondary-hsl: 34, 93%, 35%;
  --tertiary-hsl: 272, 20%, 45%;
}

.banner-card.primary {
  background-color: var(--primary-container);
  color: var(--on-primary-container);
}

.banner-card.secondary {
  background-color: var(--secondary-container);
  color: var(--on-secondary-container);
}

.banner-card.tertiary {
  background-color: var(--tertiary-container);
  color: var(--on-tertiary-container);
}

.banner-card .card-content {
  --gradient-hsl: var(--primary-hsl);
  height: 100%;
  width: 100%;
  display: grid;
  align-content: end;
  gap: 1.2rem;
  padding: 2.4rem;
  background-image: linear-gradient(
    var(--gradient-direction),
    hsla(var(--gradient-hsl), 0) 0%,
    hsla(var(--gradient-hsl), 0.36) 24%,
    hsla(var(--gradient-hsl), 0.64) 48%,
    hsla(var(--gradient-hsl), 1) 68%
  );
}

.banner-card.secondary .card-content {
  --gradient-hsl: var(--secondary-hsl);
}

.banner-card.tertiary .card-content {
  --gradient-hsl: var(--tertiary-hsl);
}

.banner-card .card-title {
  width: 16ch;
}

.banner-card .card-text {
  display: none;
}

.banner-card .card-grid {
  position: absolute;
  top: -1rem;
  left: -1rem;
  right: -1rem;
  bottom: 28%;
  display: grid;
  gap: 1.2rem;
  grid-template-areas:
    'b1 b1 b2 b2 b3 b3 b3 b3'
    'b1 b1 b2 b2 b3 b3 b3 b3'
    'b4 b4 b2 b2 b3 b3 b3 b3'
    'b4 b4 b5 b5 b5 b6 b6 b6'
    'b4 b4 b5 b5 b5 b6 b6 b6';
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-template-rows: repeat(5, minmax(0, 1fr));
  z-index: -1;
  background-position: center;
}

.banner-card .card-banner {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  border-radius: var(--radius-large);
}

.banner-card .card-banner .video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-card.primary .card-banner {
  background-color: var(--on-primary-container);
  box-shadow: 0 2px 2px -1px #000f20;
}

.banner-card.secondary .card-banner {
  background-color: var(--on-secondary-container);
  box-shadow: 0 2px 2px -1px #2a1400;
}

.banner-card.tertiary .card-banner {
  background-color: var(--on-tertiary-container);
  box-shadow: 0 2px 2px -1px #350041;
}

/* BUTTON */
.btn {
  height: 40px;
  max-width: max-content;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-inline: 24px;
  border-radius: var(--radius-full);
  transition: box-shadow var(--motion-duration-short-2)
    var(--motion-easing-linear);
}

.btn:hover {
  box-shadow: var(--elevation-1);
}

.btn:focus {
  box-shadow: none;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--on-primary);
  --state-layer-bg: var(--on-primary);
}

.btn-secondary {
  background-color: var(--secondary);
  color: var(--on-secondary);
  --state-layer-bg: var(--on-secondary);
}

.btn-tertiary {
  background-color: var(--tertiary);
  color: var(--on-tertiary);
  --state-layer-bg: var(--on-tertiary);
}

/* CARD */

.card {
  position: relative;
  width: 100%;
  height: max-content;
  border-radius: var(--radius-medium);
  overflow: hidden;
  transition: box-shadow var(--motion-duration-short-2)
    var(--motion-easing-linear);
  --state-layer-bg: var(--on-surface);
  overflow: hidden;
}

.card:hover {
  box-shadow: var(--elevation-1);
}

.card > .state-layer {
  pointer-events: all;
}

.card .card-banner {
  aspect-ratio: var(--width) / var(--height);
}

.card .card-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2;
  background-image: linear-gradient(180deg, transparent, hsla(0, 0%, 0%, 0.75));
  pointer-events: none;
  padding: 0.5rem;
}

.card .icon-btn {
  pointer-events: all;
  margin-inline-start: auto;
  color: var(--light-inverse-on-surface);
  --state-layer-bg: var(--light-inverse-on-surface);
}

.card .icon-btn.active {
  color: var(--light-inverse-primary);
  --state-layer-bg: var(--light-inverse-primary);
}

.card.video {
  background-color: var(--surface-container-highest);
}

/* SPLIT BUTTON */

.split-btn {
  background-color: var(--primary);
  color: var(--on-primary);
  height: 4rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: var(--radius-full);
}

.split-btn .label {
  --state-layer-bg: var(--on-primary);
  padding-inline: 1.6rem;
  height: inherit;
  display: grid;
  place-items: center;
  border-inline-end: 1px solid var(--surface);
}

.split-btn .trailing-icon {
  --state-layer-bg: var(--on-primary);
  color: inherit;
  height: inherit;
  width: 4rem;
  display: grid;
  place-items: center;
}

.split-btn .ph-fill {
  font-size: 1.6rem;
}

/* MENU */

.menu {
  padding-block: 0.8rem;
  max-width: 28rem;
  min-width: 12rem;
  width: max-content;
  background-color: var(--surface-container);
  border-radius: var(--radius-small);
  box-shadow: var(--elevation-2);
  overflow: hidden;
  transform-origin: top left;
  scale: 0.5;
  opacity: 0;
  visibility: hidden;
  transition: var(--motion-duration-short-2) var(--motion-easing-standard);
  transition-property: scale, opacity;
}

.menu.expanded {
  scale: 1;
  opacity: 1;
  visibility: visible;
}

.menu-item {
  height: 3.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  padding-inline: 12px;
  color: var(--on-surface);
  --state-layer-bg: var(--on-surface);
  text-transform: capitalize;
}

.menu-item .trailing-text {
  color: var(--on-surface-variant);
  margin-inline-start: auto;
}

/* PHOTO DETAIL */

.detail :is(.main) {
  margin-inline-start: 0;
}

.detail .header .icon-btn:first-child {
  display: grid;
}

.detail .header .logo {
  display: block;
}

.detail .header {
  left: 0;
  width: 100%;
  gap: 4px;
}

.detail .menu-wrapper {
  margin-inline-start: auto;
}

.detail .menu-wrapper .menu {
  transform-origin: top right;
  left: auto;
  right: 0;
}

.detail-wrapper {
  height: 58.8rem;
  display: grid;
  grid-template-rows: 1fr max-content;
  place-items: center;
}

.detail-banner {
  max-width: 100%;
  max-height: 100%;
  margin-inline: auto;
  border-radius: var(--radius-large);
  overflow: hidden;
  margin-block-end: 8px;
}

.detail-wrapper .title-small {
  text-align: center;
}

.detail-wrapper .color-primary {
  display: inline-block;
}

.detail .title-large {
  margin-block: 3.2rem 1.6rem;
}

/* FAVORITE PAGE */

.favorite-page .btn-group {
  margin-block: 1.6rem;
}

/*--------------------------*\
  #MEDIA QUERIES
\*--------------------------*/

/* responsive for larger than 600px screen */

@media (min-width: 600px) {
  .banner-card {
    --gradient-direction: 270deg;
  }

  .banner-card .card-content {
    align-content: center;
  }

  .banner-card .card-grid {
    left: 32%;
    bottom: -16px;
  }
}

/* responsive for larger than 900px screen */

@media (min-width: 900px) {
  /* TYPOGRAPHY */

  .headline-medium {
    font-size: var(--fs-display-small);
    font-weight: var(--weight-regular);
    line-height: 4.4rem;
  }

  .title-large {
    font-size: var(--fs-headline-small);
    font-weight: var(--weight-regular);
    line-height: 3.2rem;
  }

  /* REUSED STYLE */

  .container {
    padding-inline: 2.4rem;
  }

  .section {
    margin-block-end: 3.6rem;
  }

  .section-title {
    margin-block-end: 2rem;
  }

  .media-grid {
    --column-count: 3;
    --column-gap: 1.2rem;
  }

  .collection-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2.4rem;
  }

  /* HEADER */

  .header {
    padding-inline: 1rem;
  }

  .header .logo {
    margin-inline-end: 0;
  }

  .header .search-open {
    display: none;
  }

  /* SEARCH */

  .search-view {
    all: unset;
    max-width: 56rem;
    width: 100%;
    align-self: start;
    margin-inline: auto;
    margin-block-start: 0.8rem;
    background-color: var(--surface-container-high);
    border-radius: var(--radius-extra-large);
    overflow: hidden;
  }

  .search-view:focus-within {
    box-shadow: var(--elevation-2);
  }

  .search-bar {
    height: 4.8rem;
    padding-inline-start: 1.6rem;
  }

  .search-view:not(:focus-within) .search-bar {
    border: none;
    --state-layer-bg: var(--on-surface);
  }

  .search-bar .icon-btn:first-child,
  .search-view:not(:focus-within)
    :where(.icon-btn:not(.search-btn), .search-view-content) {
    display: none;
  }

  /* BANNER */

  .banner {
    padding-inline: 0.4rem;
  }

  /* COLLECTION */

  .collection .btn {
    margin-block: 2.4rem;
  }
}

/* responsive for larger than 1240px screen */

@media (min-width: 1240px) {
  /* TYPOGRAPHY */

  .headline-medium {
    font-size: var(--fs-display-large);
    font-weight: var(--weight-regular);
    line-height: 64px;
  }

  .title-large {
    font-size: var(--fs-headline-medium);
    font-weight: var(--weight-regular);
    line-height: 36px;
  }

  /* REUSED STYLE */
  .main {
    margin-inline-start: 360px;
  }

  .container {
    max-width: 112.8rem;
    width: 100%;
    margin-inline: auto;
  }

  .media-grid {
    --column-gap: 1.6rem;
  }

  .collection-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .section-title {
    margin-block-end: 2.4rem;
  }

  /* OVERLAY */

  .overlay {
    display: none;
  }

  /* HEADER */

  .header {
    left: 36rem;
    width: auto;
    right: 0;
  }

  .header,
  .header.active {
    background-color: var(--background);
  }

  .header .icon-btn:first-child,
  .header .logo {
    display: none;
  }

  /* Search */

  .search-view {
    max-width: 72rem;
  }

  /* Navigation */

  .navigation {
    --navigation-drawer-width: 36rem;
    visibility: visible;
    width: var(--navigation-drawer-width);
    border-radius: 0;
  }

  .navigation :where(.navigation-header, .navigation-list) {
    opacity: 1;
  }

  .navigation-header {
    height: 6.4rem;
    padding-inline: 2.8rem;
  }

  .navigation-header .icon-btn {
    display: none;
  }

  .navigation .legal {
    padding: 1.6rem 2.4rem 2.4rem 2.4rem;
  }

  /* BANNER */
  .banner {
    padding-inline: 0.6rem;
  }

  .banner-card {
    height: 42rem;
  }

  .banner-card .card-content {
    padding: 4.8rem;
  }

  /* PHOTO DETAIL PAGE */

  .detail-wrapper {
    height: 78.8rem;
  }

  .detail-banner {
    max-height: 76rem;
  }

  .detail .title-large {
    margin-block-start: 4rem;
  }
}

/* responsive for larger than 1400px screen */

@media (min-width: 1400px) {
  /* BANNER */

  .banner-card {
    height: 56rem;
  }

  .banner-card .card-content {
    padding: 8.4rem;
  }
}
